html, body {
/*  height: 100%;
  width: 100%;*/
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

/*.container-fluid {
  width:100%;
  min-height: 100%;
}
/*
.imageContainer img {
   width: 100%;
}*/

.imageContainer {
  position: relative;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*  height: 100%;
  width: 100%;*/
  opacity: 0;
  transition: .2s ease;
  background-color: #212121;
}

.loadingText {
  position: absolute;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.transparent {
  opacity: 0.8;
}

.invisible {
  opacity: 0;
}


.logo {
  position: relative;
  background-color: #ffffff;
  color: black;  

}

.logoBtn {
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 32px 32px;
  font-size: 32px;
}

.min-100 {
    min-height: 100%;
}

.custom-select {
  border: 1px solid #495057;
  color: #007bff;

}
.custom-select:focus {
    border: 1px solid #495057;
    box-shadow: none;
}

/*.tooltip > .tooltip-inner {background-color: #ff0000;}
.tooltip > .tooltip-arrow { border-bottom-color:#ff0000; }

*/
/*.tooltip.top .tooltip-arrow {
          border-top-color: red;
       }
*/
/*.tooltip .arrow {
  border-top-color: red;
  background-color: #ff0000;
}*/

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
/*  border: 1px solid #495057;
  background-color: #ffffff;
  opacity: 1;
  color: black;  */
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}


.menubarBtn {
  border: 1px solid #495057;
  color: #007bff;
  cursor: pointer;
}

.downloadBtn {
  border: 1px solid #495057;
  color: #007bff;
  cursor: pointer;
}

.menubarBtnDisabled {
  border: 1px solid #6c757d;
  color: #6c757d;
  cursor: default;
}

.menubarBtnDisabled:hover {
  border: 1px solid #6c757d;
  color: #6c757d;
  cursor: default;
}

.menubarBtnEnabled:hover {
  color: #0056b3;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.workspaceBtn {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
  opacity:0.5;
}

.workspaceBtn:hover {
  color: whitesmoke;
  opacity:1;
  transition: 0.2s;
}

.card {
  border-radius: 0;
  border-color: #495057;
  border-right-width: 0;
  border-left-width: 0;
}

.nav-tabs .nav-link {
    border: 1px solid #495057;

}

.fade {
    -webkit-transition-duration: 0s;  Safari 
    transition-duration: 0s;
}

.nav-link {
  height: 100%;
}
.nav-tabs .nav-item.show .nav-link {
    background-color: #ffffff;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
  }

.nav-tabs .nav-link:hover {
    /*border-color: #0000FF #0000FF #0000FF;*/
    border-top-color: #495057;
    border-left-color: #495057;
    border-right-color: #495057;
    border-bottom-color: #495057;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link.active {
    background-color: #ffffff;
    border-color: #495057 #495057 #ffffff;
}

.nav-tabs {
  border-bottom: 1px solid #ffffff;
}

.r_workspace {
  min-height: 100%
}

.tc1{
  color: #ffffff;
}

.c1{
  background-color: #ffffff;
}
.c2{

  background-color: #ffffff;
}

.c3{
  background-color: #bbb6b6;
}

.c4{
  background-color: #424246;
}
.c5{
  background-color: #212121;
}

.description {
  display: inline-flex;
  vertical-align: middle;
}

.material-icons.md-48 { font-size: 24px; }

.helpicon{
  color: #007bff;
}

.helpicon:hover{
  color: #0056b3;
}
