{% load static %}
<!--Doesnt load jqery with current bootstrap version (3 vs 4)-->
<!doctype html>
<html lang="en">
<!--head>

    <link href="{% static 'MainPage/layout.css' %}" rel="stylesheet">
    <link href="{% static 'MainPage/lux_bootstrap.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head-->
<head>
  <title>ReconstructNet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{% static 'MainPage/layout.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>


<div class="flex-container c1 wrapper">
    <div style="flex-grow: 1">
        <div class="d-flex align-content-stretch flex-column c2 sidebar">
            <div class="p-2">
                <button type="button" class="btn btn-primary btn-block" onclick="grayscale_button()">greyscale</button>
            </div>
            <div class="p-2">
                <div class="card">
                     <div class="card-header" id="headingOne">
                         <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSaltAndPepper" aria-expanded="false" aria-controls="collapseSaltAndPepper">
                                 Add Salt and Pepper Noise
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseSaltAndPepper">
                        <div class="card-body">
                            <div class="d-flex justify-content-center my-4">
                                <div class="w-75">
                                    Noise level
                                   <input type="range" class="custom-range" id="saltAndPepperRange" step="0.01" min="0" max="1">
                                </div>
                                <span class="font-weight-bold text-primary ml-2 saltAndPepperSpan"></span>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" onclick="salt_pepper_noise_button()">Add salt and pepper noise</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseGaussian" aria-expanded="false" aria-controls="collapseGaussian">
                                Add Gaussian Noise
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseGaussian">
                        <div class="card-body">
                            Sigma
                            <input type="number" id="gaussianRange" value=100 />
                            <button type="button" class="btn btn-primary btn-block" onclick="gaussian_noise_button()">Add gaussian noise</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-primary btn-block">Remove Noise</button>
            </div>  
            <div class="p-2">
                 <div class="card">
                     <div class="card-header" id="headingOne">
                         <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWatermark" aria-expanded="false" aria-controls="collapseWatermark">
                                 Add Watermark
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseWatermark">
                        <div class="card-body">
                            <div class="d-flex justify-content-center my-4">
                                <div class="w-75">
                                   Max size ratio 
                                   <input type="range" class="custom-range" id="maxRatioRange" step="0.01" min="0.01" max="0.30">
                                </div>
                                <span class="font-weight-bold text-primary ml-2 maxRatioSpan"></span>
                            </div>

                            <div class="d-flex justify-content-center my-4">
                                <div class="w-75">
                                    Max lines
                                   <input type="range" class="custom-range" id="maxLinesRange" step="1" min="0" max="10">
                                </div>
                                <span class="font-weight-bold text-primary ml-2 maxLinesSpan"></span>
                            </div>

                            <div class="d-flex justify-content-center my-4">
                                <div class="w-75">
                                    Max circles
                                   <input type="range" class="custom-range" id="maxCirclesRange" step="1" min="0" max="10">
                                </div>
                                <span class="font-weight-bold text-primary ml-2 maxCirclesSpan"></span>
                            </div>

                            <div class="d-flex justify-content-center my-4">
                                <div class="w-75">
                                    Max ellipses
                                   <input type="range" class="custom-range" id="maxEllipsesRange" step="1" min="0" max="10">
                                </div>
                                <span class="font-weight-bold text-primary ml-2 maxEllipsesSpan"></span>
                            </div>                                                                                    
                            <button type="button" class="btn btn-primary btn-block" onclick="add_patterns_button()">Add Watermarks</button>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="p-2">
                <button type="button" class="btn btn-primary btn-block">Remove Watermarks</button>
            </div>  
            <div class="p-2">
                <button type="button" class="btn btn-primary btn-block" onclick="sharpen_button()">Sharpen</button>
            </div>  
            <div class="p-2">
                <button type="button" class="btn btn-primary btn-block" onclick="contrast_button()">Contrast</button>
            </div>
            


        </div> 
    </div>
    <div style="flex-grow: 4">
        <div class="d-flex flex-column">
            <div class="p-2">
                <div class="d-flex flex-row c3">
                    <div class="p-2">
                        <input type="file" accept="image/*" id="upload">
                    </div>
                    <div class="p-2 ml-auto">
                        <button type="button" class="btn btn-primary" onclick="reset()">Reset</button>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class = "d-flex justify-content-center">
                <img alt="Test Picture" id = "picture">
                </div>
            </div>
    </div> 
</div>

<script>

$(document).ready(function() {

  const $valueSpan = $('.saltAndPepperSpan');
  const $value = $('#saltAndPepperRange');
  $valueSpan.html($value.val());
  $value.on('input change', () => {

    $valueSpan.html($value.val());
  });

  const $maxRatioSpan = $('.maxRatioSpan');
  const $patternValue = $('#maxRatioRange');
  $maxRatioSpan.html($patternValue.val());
  $patternValue.on('input change', () => {

    $maxRatioSpan.html($patternValue.val());
  });

  const $maxLinesSpan = $('.maxLinesSpan');
  const $maxLinesValue = $('#maxLinesRange');
  $maxLinesSpan.html($maxLinesValue.val());
  $maxLinesValue.on('input change', () => {

    $maxLinesSpan.html($maxLinesValue.val());
  });

    const $maxCirclesSpan = $('.maxCirclesSpan');
  const $maxCirclesValue = $('#maxCirclesRange');
  $maxCirclesSpan.html($maxCirclesValue.val());
  $maxCirclesValue.on('input change', () => {

    $maxCirclesSpan.html($maxCirclesValue.val());
  });

    const $maxEllipsesSpan = $('.maxEllipsesSpan');
  const $maxEllipsesValue = $('#maxEllipsesRange');
  $maxEllipsesSpan.html($maxEllipsesValue.val());
  $maxEllipsesValue.on('input change', () => {

    $maxEllipsesSpan.html($maxEllipsesValue.val());
  });
});

const formData = new FormData();
const fileField = document.getElementById("upload");

init();
function init(){
    reset();
}

fileField.onchange = function(e){
    formData.append('main_img', fileField.files[0]);
    fetch("{% url 'upload' %}"
    , {
      method: 'POST',
      body: formData,
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
    
}
function reset(){
    fetch("{% url 'reset' %}"
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}

function grayscale_button(){
    fetch("{% url 'grayscale_button' %}"
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}

function salt_pepper_noise_button(){
    var params = {
        "d": $('#saltAndPepperRange').val(),
    }
    fetch("{% url 'salt_pepper_noise_button' %}" + "?" + $.param(params)
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}
function gaussian_noise_button(){
    var params = {
        "sigma": $('#gaussianRange').val(),
    }

    fetch("{% url 'gaussian_noise_button' %}" + "?" + $.param(params)

    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}
function add_patterns_button(){
    var params = {
        "maxRatio": $('#maxRatioRange').val(),
        "maxLines": $('#maxLinesRange').val(),
        "maxCircles": $('#maxCirclesRange').val(),
        "maxEllipses": $('#maxEllipsesRange').val(),
    }

    fetch("{% url 'add_patterns_button' %}" + "?" + $.param(params)
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}

function sharpen_button(){
    fetch("{% url 'sharpen_button' %}"
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}

function contrast_button(){
    fetch("{% url 'contrast_button' %}"
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        document.getElementById("picture").src=objectURL;
    });
}
</script>
</body>
</html>
