{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'MainPage/style.css' %}"">
</head>
<body class="h-100"> 
<div class="container-fluid row h-100">
    <div class = "r_menubar col-3 c2 d-flex flex-column">
        <div class = "row justify-content-center">
            <div class = "p-4 align-self-center logo">
                    <form action="https://github.com/patrickvando/ReconstructNet">
                        <button type="submit" class = "btn logoBtn">ReconstructNet</button>
                    </form>                     
                    <!-- <font size = "6">ReconstructNet</font> -->
            </div>
        </div>
        <div class = "row">
            <div class="accordion flex-grow-1" id="accordionMenu">
                <div class="card">
                    <div class="card-header c2" id="headingNoise" >
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNoise" aria-expanded="true" aria-controls="collapseNoise">
                                <u>Noise</u>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseNoise" class="collapse" aria-labelledby="headingNoise" data-parent="#accordionMenu">
                        <div class="card-body c1">
                            <ul class="nav nav-tabs" id="noiseTab" role="tablist">
                                <li class="nav-item  w-50">
                                    <a class="nav-link active text-center" id="addNoiseTab" data-toggle="tab" href="#addNoise" role="tab" aria-controls="addNoise" aria-selected="true">Add Noise</a>
                                </li>
                                <li class="nav-item w-50">
                                    <a class="nav-link text-center" id="removeNoiseTab" data-toggle="tab" href="#removeNoise" role="tab" aria-controls="removeNoise" aria-selected="false">Remove Noise</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="noiseTabContent">
                                <div class="tab-pane fade show active" id="addNoise" role="tabpanel" aria-labelledby="addNoiseTab">
                                    <div class = "addSaltAndPepperNoiseRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="addSaltAndPepperNoiseControlRange">Add Salt and Pepper Noise</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addSaltAndPepperNoiseControlRange" step="0.01" min="0" max="1" value="0.5">
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addSaltAndPepperNoiseControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button id="addSaltAndPepperNoise" type="button" class="menubarBtn btn hasRangeParam">Add</button>
                                        </div>
                                    </div>
                                    <div class = "addGaussianRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="gaussianControlRange">Add Gaussian Noise</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addGaussianNoiseControlRange" step = "1" min="0" max = "100" value="50">
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addGaussianNoiseControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn hasRangeParam" id="addGaussianNoise">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="removeNoise" role="tabpanel" aria-labelledby="removeNoiseTab">
                                    <div class = "removeSaltAndPepperRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Salt and Pepper Noise
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>
                                    <div class = "removeGaussianRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Gaussian Noise
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header c2" id="headingBlur">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBlur" aria-expanded="false" aria-controls="collapseBlur">
                                <u>Blur</u>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseBlur" class="collapse" aria-labelledby="headingBlur" data-parent="#accordionMenu">
                        <div class="card-body c1">
                            <ul class="nav nav-tabs" id="blurTab" role="tablist">
                                <li class="nav-item  w-50">
                                    <a class="nav-link active text-center" id="addBlurTab" data-toggle="tab" href="#addBlur" role="tab" aria-controls="addBlur" aria-selected="true">Add Blur</a>
                                </li>
                                <li class="nav-item w-50">
                                    <a class="nav-link text-center" id="removeBlurTab" data-toggle="tab" href="#removeBlur" role="tab" aria-controls="removeBlur" aria-selected="false">Remove Blur</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="blurTabContent">
                                <div class="tab-pane fade show active" id="addBlur" role="tabpanel" aria-labelledby="addBlurTab">
                                    <div class = "addGaussianBlurPepperRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="addGaussianBlurControlRange">Add Gaussian Blur</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addGaussianBlurControlRange" step=2 min=3 max=25 value = 5>
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addGaussianBlurControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn hasRangeParam" id="addGaussianBlur">Add</button>
                                        </div>
                                    </div>
                                    <div class = "addHorizontalBlurRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="addHorizontalBlurControlRange">Add Horizontal Blur</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addHorizontalBlurControlRange" step=2 min=3 max=25 value = 5>
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addHorizontalBlurControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn hasRangeParam" id="addHorizontalBlur">Add</button>
                                        </div>
                                    </div>
                                    <div class = "addVerticalBlurRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="addVerticalBlurControlRange">Add Vertical Blur</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addVerticalBlurControlRange" step=2 min=3 max=25 value = 5>
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addVerticalBlurControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn hasRangeParam" id="addVerticalBlur">Add</button>
                                        </div>
                                    </div>                                        
                                </div>
                                <div class="tab-pane fade" id="removeBlur" role="tabpanel" aria-labelledby="removeBlurTab">
                                    <div class = "removeGaussianBlurRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Gaussian Blur
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>
                                    <div class = "removeHorizontalRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Horizontal Blur
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>
                                    <div class = "removeVerticalRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Vertical Blur
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>                                                                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header c2" id="headingInpaint">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseInpaint" aria-expanded="false" aria-controls="collapseInpaint">
                                <u>Inpainting</u>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseInpaint" class="collapse" aria-labelledby="headingInpaint" data-parent="#accordionMenu">
                        <div class="card-body c1">
                            <ul class="nav nav-tabs" id="inpaintTab" role="tablist">
                                <li class="nav-item  w-50">
                                    <a class="nav-link active text-center" id="addInpaintingTab" data-toggle="tab" href="#addInpainting" role="tab" aria-controls="addInpainting" aria-selected="true">Add Inpainting</a>
                                </li>
                                <li class="nav-item w-50">
                                    <a class="nav-link text-center" id="removeInpaintingTab" data-toggle="tab" href="#removeInpainting" role="tab" aria-controls="removeInpainting" aria-selected="false">Remove Inpainting</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="inpaintingTabContent">
                                <div class="tab-pane fade show active" id="addInpainting" role="tabpanel" aria-labelledby="addInpaintingTab">
                                    <div class = "addInpaintingRow row p-4">
                                        <div class = "col-8 ">
                                            <form>
                                                <div class="form-group ">
                                                    <label for="addInpaintingControlRange">Add Inpainting</label>
                                                    <input type="range" class="controlRange form-control-range align-self-center" id="addInpaintingControlRange" step="1" min="0" max="20">
                                                </div>
                                            </form>
                                        </div>
                                        <div class = "col-2 align-self-center" id="addInpaintingControlRangeValue">
                                            0
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn hasRangeParam" id="addInpainting">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="removeInpainting" role="tabpanel" aria-labelledby="removeInpaintingTab">
                                    <div class = "removeInpaintingRow row p-4">
                                        <div class = "col-9 ">
                                            Use a Neural Network to remove Inpainting
                                        </div>
                                        <div class = "col-1 align-self-center">
                                            <button type="button" class="menubarBtn btn">Remove</button>
                                        </div>
                                    </div>                                                                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header c2" id="headingMisc">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMisc" aria-expanded="false" aria-controls="collapseMisc">
                                <u>Misc</u>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseMisc" class="collapse" aria-labelledby="headingMisc" data-parent="#accordionMenu">
                        <div class="card-body c1">
                            <ul class="nav nav-tabs" id="miscTab" role="tablist">
                                <li class="nav-item  w-50">
                                    <a class="nav-link active text-center" id="misc1Tab" data-toggle="tab" href="#misc1" role="tab" aria-controls="misc1" aria-selected="true">1</a>
                                </li>
                                <li class="nav-item w-50">
                                    <a class="nav-link text-center" id="misc2Tab" data-toggle="tab" href="#misc2" role="tab" aria-controls="misc2" aria-selected="false">2</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="miscTabContent">
                                <div class="tab-pane fade show active" id="misc1" role="tabpanel" aria-labelledby="misc1Tab">
                                   <div class = "row p-4">
                                    <!--style this better-->
                                        <div class = "col-8 ">
                                            Change to grayscale
                                        </div>
                                        <div class = "col-2 align-self-center">
                                            <button type="button" class="menubarBtn btn" id="changeToGrayscale">Change</button>
                                        </div>
                                    </div>      
                                </div>
                                <div class="tab-pane fade" id="misc2" role="tabpanel" aria-labelledby="misc2Tab">
                                                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <div class = "mt-auto row p-4 justify-content-center">
            <div class = "col-5">
                <button id="reset" type="button" class="w-100 menubarBtn btn">Reset</button>
            </div>
            <div class = "col-5">
                <form action="{% url 'download_image' %}">
                    <input type="submit" value="Download" class="w-100 downloadBtn btn"/>
                </form>            
            </div>
        </div>
    </div>
    <div class = "r_workspace col-9 c5 d-flex flex-column align-items-center">
        <div class="p-3 mb-auto w-100">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <input type="file" accept="image/*" id="upload" class="tc1">
                </div>
            </div>
        </div>
        <div class="align-self-center p2 w-100">
            <div class = "d-flex justify-content-center imageContainer">
                <img alt="main_image" id = "mainImage" class = "img-fluid">
            </div>
        </div>        
        <div class= "mt-auto p-3 w-100">
            <div class="d-flex flex-row">
                <div class="p-2 ml-auto">
                    <form action="https://github.com/patrickvando/ReconstructNet">
                        <button type="submit" class = "btn workspaceBtn">SOURCE CODE</button>
                    </form>                
                </div>
            </div>
        </div>            
    </div>
</div>
</body>
<script>

function init(){
    fetch("{% url 'call_alg' %}?alg_name=reset&wait=false"
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        $("#mainImage").attr("src", objectURL);
    });
    enableBtns(true);
    $('.controlRange').each( function() {
        valID = this.id + "Value";
        $('#' + valID).html($(this).val());        
    });
}


$('.controlRange').on('input change', function() {
    valID = this.id + "Value";
    $('#' + valID).html($(this).val());
    console.log("hello");
    console.log(valID);
});


function enableBtns(enabled){
    if (enabled == true){
        $(".menubarBtn").attr("disabled", false)
        $(".menubarBtn").addClass("menubarBtnEnabled");        
        $(".menubarBtn").removeClass("menubarBtnDisabled");

        $(".downloadBtn").attr("disabled", false)
        $(".downloadBtn").addClass("menubarBtnEnabled");        
        $(".downloadBtn").removeClass("menubarBtnDisabled");
    } else {
        $(".menubarBtn").attr("disabled", true)
        $(".menubarBtn").removeClass("menubarBtnEnabled");        
        $(".menubarBtn").addClass("menubarBtnDisabled");

        $(".downloadBtn").attr("disabled", true)
        $(".downloadBtn").removeClass("menubarBtnEnabled");        
        $(".downloadBtn").addClass("menubarBtnDisabled");
    }
}


$(".menubarBtn").click(function() {
    enableBtns(false);
    var params = {"alg_name": this.id, "wait": "true"}
    if ($(this).hasClass("hasRangeParam")){
        rangeID = this.id + "ControlRange"
        params["val"] = $("#" + rangeID).val()
    }
    console.log(params);
    fetch("{% url 'call_alg' %}" + "?" + $.param(params)
    , {
      method: 'GET',
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        $("#mainImage").attr("src", objectURL);
        enableBtns(true);
    });
});


$("#upload").on("change", function() {
    enableBtns(false);
    var formData = new FormData();
    formData.append('main_img', $(this).prop('files')[0]);
    fetch("{% url 'upload' %}"
    , {
      method: 'POST',
      body: formData,
    }).then((response) => {
        return response.blob();
    }).then((blob) => {
        let objectURL = URL.createObjectURL(blob);
        $("#mainImage").attr("src", objectURL);
        enableBtns(true);
    });
});


// $(".menubarBtn").hover(
//     function() {
//         $(this).addClass("shadow");
//     },
//     function() {
//         $(this).removeClass("shadow");
//     }
// );
init();
</script>
</html>
<!--
TODO:
How does the page react when you resize the web page? Low priority, assume full size screen


-->
