{% load static %}
<!doctype html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{% static 'MainPage/testLayout.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<div class="background">

  <div class="card">
   <div class="p-2">
      <button type="button" class="btn btn-primary btn-block btn-algorithm" id="button" >Contrast</button>
    </div>
  </div>
<h2>Opacity with Box</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  <img src="{% static 'MainPage/bird.png' %}" alt="Avatar" id="pic" class="image opaque" style="width:100%">
  <div class="middle transparent" id="mid">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
</div>

  </div>
</div>


  


<script>

$("#button").on("click", function() {
    $("#pic").addClass("semitransparent");
    $("#pic").removeClass("opaque");
    $("#mid").addClass("opaque");
    $("#mid").removeClass("transparent");
    console.log("error");
});

</script>
</html>